form {
  background-color: #8fe0ff;
  border: 5px #9c9c9c solid;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.start-here {
  transform: translate(-3rem, -1rem);
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #4b67fc;
  border-radius: 13px;
  position: absolute;
  top: 0;
  left: 0;
}

.hint-toggle {
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  color: #d6d6d6;
  background-color: #f3f3f3;
  top: 1rem;
  right: 1rem;
  width: 1.75rem;
  height: 1.75rem;
  line-height: 1.75rem;
  border-radius: 50%;
  text-align: center;
  /* Prevent Text Selection */
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

label {
  font-size: 1.25rem;
  font-weight: var(--font-weight-semi-bold);
  padding-bottom: 0.5rem;
}

input {
  position: relative;
  margin-bottom: 2rem;
  font-family: var(--font-stack);
  font-size: 1.25rem;
  font-weight: var(--font-weight-semi-bold);
  color: var(--almost-black);
  border-radius: 13px;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: none;
  resize: none;
}
input::placeholder {
  color: var(--medium-gray);
}

input:focus {
  border-radius: 13px;
  box-shadow: 0 0 0 3px #9c9c9c;
  outline: none;
}

.counter {
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 400;
  margin-left: 0.35rem;
  padding: 0.2rem 0.4rem 0.2rem 0.4rem;
  border-radius: 5px;
  vertical-align: middle;
}

.counter__limit {
  font-weight: 600;
  color: white;
  background-color: #c26c6c;
  /* Shake Animation */
  animation: shake 0.75s;
  animation-iteration-count: infinite;
}

/* Shake Keyframes */
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-0.25px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(0.5px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-0.5px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(1px, 0, 0);
  }
}

@media screen and (max-width: 800px) {
  .start-here {
    transform: translate(2.5rem, -2rem);
  }
}
