form {
  background-color: #8fe0ff;
  border: 5px #9c9c9c solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

form p {
  transform: translate(-3rem, -1rem);
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #4b67fc;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

label {
  font-size: 1.25rem;
  font-weight: var(--font-weight-semi-bold);
  padding-bottom: 0.5rem;
}

input {
  margin-bottom: 2rem;
  font-family: var(--font-stack);
  font-size: 1.25rem;
  font-weight: var(--font-weight-semi-bold);
  color: var(--almost-black);
  border-radius: 13px;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  border: none;
  resize: none;
}
input::placeholder {
  color: var(--medium-gray);
}

input:focus {
  border-radius: 13px;
  box-shadow: 0 0 0 3px #9c9c9c;
  outline: none;
}

@media screen and (max-width: 800px) {
  form p {
    transform: translate(2.5rem, -2rem);
  }
}
