.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.changelog {
  max-width: 850px;
  margin: 0 auto;
  padding: 50px 20px;
  background: #ffffff;
  border-radius: 13px;
}

.changelog--close {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 20px;
}

.changelog--item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.changelog--meta {
  flex-grow: 0;
  width: 150px;
  font-weight: 600;
  color: var(--dark-gray);
}

.changelog--content {
  flex-grow: 1;
}

.line {
  border: 0.5px solid var(--light-gray);
  margin: 20px 0;
}

.line:last-of-type {
  display: none;
}
