.output {
  padding: 2rem;
}

.wrapper-sm {
  margin-right: auto;
  margin-left: auto;
  max-width: 720px;
  padding: 4rem;
}

.output {
  background-color: #8affb6;
  border: 5px #9c9c9c solid;

  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.ta-da {
  transform: translate(-3rem, -1rem);
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  background-color: #4b67fc;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  translate: x;
}
