.output {
  background-color: #8affb6;
  border: 5px #9c9c9c solid;
  border-radius: 20px;
  position: relative;
}

.title,
.twitter-tags,
.og-tags,
.fb-tags,
.makemeta,
.loading {
  font-weight: 400;
  font-family: 'Dank Mono', 'Courier New', Courier, monospace;
}

.ta-da {
  transform: translate(-3rem, -1rem);
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #4b67fc;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
}

.comment {
  color: #9c9c9c;
}

button {
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: 600;
  background-color: #f3f3f3;
  padding: 0.25rem 1.5rem;
  margin-top: 2rem;
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: 2px #9c9c9c solid;
  outline: none;
}

/* button:hover {
  background-color: #e4e4e4;
} */

/* button:active {
  background-color: #cfcfcf;
} */

@media screen and (max-width: 800px) {
  .ta-da {
    transform: translate(2.5rem, -2rem);
  }
}
